@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&family=Roboto:wght@100;300;400;700;900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  width: 100%;
}
.ab-banner-container {
  max-width: 100%;
}
.ab-banner-container img {
  width: 100%;
}
.ab-gender-container {
  width: 100%;
  display: flex;
  padding-top: 26px;
}

.woman {
  width: 50%;
}
.woman img {
  width: 100%;
  cursor: pointer;
}
.ab-w-img-2 {
  display: none !important;
}
.ab-m-img-2 {
  display: none !important;
}

.man {
  width: 50%;
}
.man img {
  width: 100%;
  cursor: pointer;
}

.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  padding-top: 26px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.ab-discount-container {
  width: 100%;
  padding-top: 25px;
}
.ab-discount-container img {
  max-width: 100%;
}

.ab-highlight {
  color: #53585e;
  font-size: 36px;
  font-weight: 800;
  text-align: center;
}

.carousel div {
  width: 99.5%;
  padding-left: 0.25%;
  padding-right: 0.25%;
}

.carousel {
  width: 100%;
  padding-top: 30px;
}
.carousel h2 {
  text-align: center;
}
.ab-container {
  max-width: 99%;
  /* padding-left: 1%; */
  cursor: pointer;
}
.ab-card div img {
  width: 100%;
  height: 31.25rem;
}
.ab-cart p {
  border: 1px solid black;
  font-size: 12px;
  font-weight: 600;
  padding: 0.625rem;
  display: inline-block;
}
.ab-cart i {
  padding-left: 25px;
  display: inline-block;
}
.ab-cart {
  visibility: hidden;
  opacity: 0;
  position: relative;
  height: 3.125rem;
  padding-bottom: 10px;
}
.ab-details .ab-ptype {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 0.725rem;
  text-transform: uppercase;
  margin-bottom: 0.3125rem;
  line-height: 1;
  font-weight: var(--font-weight-bold);
  opacity: 0.4;
}
.ab-details .ab-pname {
  font-size: 0.9375rem;
  color: inherit;
  color: inherit;
}
.ab-pvalue del {
  color: inherit;
  opacity: 0.5;
}
.ab-details .ab-pvalue {
  display: inline-block;
  font-size: 25px;
}
.ab-card {
  padding-left: 15px;
}

.ab-card:hover .ab-cart {
  visibility: visible;
  opacity: 1;
}
.ab-card:hover div img {
  height: 28.125rem;
  transition: 0.9s;
}
.ab-discount p {
  background: #ea2626;
  width: 2.188rem;
  color: white;
  padding: 5px 5px;
}

.secoundary-img {
  display: none !important;
}
.ab-card:hover .secoundary-img {
  display: block !important;
  transition: 0.9s;
}
.ab-card:hover .primary-img {
  display: none !important;
}

.ab-follow {
  margin-top: 50px;
  text-align: center;
  position: relative;
}
.ab-follow {
}
.ab-follow h4 {
  display: inline-block;
  color: var(--e-global-color-secondary);
  font-size: 26px;
  font-weight: 900;
}
.ab-follow i {
  padding-left: 5%x;
  display: inline-block;
  cursor: pointer;
}
.features {
  display: flex;
  justify-content: space-between;
}
.features div img {
  width: 30%;
  opacity: 0.2;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.features div h4 {
  text-align: center;
}
.features p {
  text-align: center;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1.25rem;
  color: inherit;
  opacity: 0.5;
}
.block-on-desk {
  display: none;
}
.block-on-desk img {
  width: 100%;
}

@media only screen and (max-width: 450px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
  .ab-banner-container {
    display: none !important;
  }
  .ab-gender-container {
    padding-top: 0;
    flex-direction: column;
  }
  .woman {
    width: 100%;
  }
  .man {
    width: 100%;
  }
  .ab-m-img-1,
  .ab-w-img-1 {
    display: none !important;
  }
  .ab-m-img-2,
  .ab-w-img-2 {
    display: block !important;
  }

  .ab-cart {
    visibility: visible;
    opacity: 1;
    position: relative;
  }
  .ab-card div img {
    width: 100%;
    height: 250px;
  }

  .ab-cart p {
    font-size: 10px;
  }
  .ab-cart i {
    padding-left: 5px;
  }
  .ab-cart {
    height: 50px;
    padding-bottom: 10px;
  }
  .block-on-desk {
    padding-top: 15px;
    display: block;
  }

  .ab-card:hover div img {
    height: 250px;
  }
}

.ab-cart {
}
